body{
    background: #B2C1CF;
    margin-left: 100px;
    margin-right: 200px;
}

h1{
    color:black;
    font-family: 'Times New Roman', Times, serif;
}

h2{
    font-family: 'Times New Roman', Times, serif;
}

p{
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
}


footer{
    margin-top: 70px;
}


.img_padrao{
    margin-top: 20px;
    margin-bottom: 20px;
}


.logo{
    width: 30px;
}

